{% extends 'template.html' %}
{% block title %}Learn easy!{% endblock %}
{% block content %}
    <div class="container" style="margin-top: 100px">
        <h1>{{ subject_name }}, laboratory #{{ laboratory.laboratory_number }}</h1>
        {% if implementations|length != 0 %}
            <p>You passed this laboratory for {{ implementations|length }} times</p>
            <table class="table table-dark">
              <thead>
                <tr>
                  <th scope="col">Laboratory theme</th>
                  <th scope="col">Attempt</th>
                  <th scope="col">Status</th>
                  <th scope="col">Test output</th>
                  <th scope="col">Plagiary</th>
                </tr>
              </thead>
              <tbody>
              {% for implementation in implementations %}
                  <tr>
                  <th scope="row">{{ implementation.laboratory_theme }}</th>
                  <td>{{ implementation.attempt }}</td>
                  <td>{{ implementation.status }}</td>
                  <td>{{ implementation.test_output }}</td>
                  <td>{{ implementation.plagiary }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
        {% endif %}
        <p>Read the manual!</p>
        <div class="card" style="margin-bottom: 24px">
  <div class="card-header" style="background-color: #292C2F">
    Manual for laboratory #{{ laboratory.laboratory_number }}
  </div>
  <div class="card-body" style="background-color: #343a3f">
    <h5 class="card-title">{{ laboratory.laboratory_theme }}</h5>
    <p class="card-text">{{ laboratory.laboratory_manual }}</p>
    <a href="/subject/{{ subject_name }}" class="btn btn-info">Get more lectures!</a>
  </div>
</div>
    <p>Are you ready? Start now!</p>
            <div class="card" style="margin-bottom: 24px">
  <div class="card-header" style="background-color: #292C2F">
    Task for laboratory #{{ laboratory.laboratory_number }}, variant {{ user.variant }}
  </div>
  <div class="card-body" style="background-color: #343a3f">
    <h5 class="card-title">Your personal task, {{ user.student_name }}</h5>
    <p class="card-text">{{ task.laboratory_task }}</p>
    <a href="#" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">Upload the code</a>
  </div>
</div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form action="{{ url_for('main.add_implementation') }}" method="post">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="color: #000">Paste your code here</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p style="color: red">Make sure, that your code contains main() function!</p>
                {{ form.hidden_tag() }}
              <div class="form-group">
                <span style="color: #495057">{{ form.attempt.label.text }}</span>
                {{ form.attempt(class_="form-control", value=implementations|length + 1, readonly=True) }}
              </div>
              <div class="form-group">
                <span style="color: #495057">{{ form.laboratory_theme.label.text }}</span>
                {{ form.laboratory_theme(class_="form-control", value=laboratory.laboratory_theme, readonly=True) }}
              </div>
              <div class="form-group">
              <span style="color: #495057">{{ form.implementation_content.label.text }}</span>
                {{ form.implementation_content(class_="form-control") }}
              </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Send laboratory!</button>
      </div>
    </div>
  </div>
    </form>
</div>
{% endblock %}
